div#title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #e0e1e2;  
  font-family: 'Mountains of Christmas', cursive;
  font-size: 1em
}

h1 {
  margin: 13px;
  border-width: thick;
  background-color: white;
  font-size: 7em;
  border-style: groove;
  border-color: darkgoldenrod;
}

#title1{
  font-family: 'Mountains of Christmas', cursive;
  padding: 1%;
}

#homeP{
  margin: 1em;
  border-style: double;
  display: flex;
  flex-direction: column;
  margin-top: 20%;
  margin-left: 15%;
  margin-right: 15%;
}

div#backGround {
  height: -webkit-fill-available;
  background-color: darkgoldenrod;
}